.text-display {
  width: 100vw;
  min-height: 50vh;
  font-family: monospace;
  font-size: 120%;
}

.display-button {
  width: 12vw;
  height: 7vh;
  font-size: 80%;
  word-wrap: break-word;
}

#result-dash {
  display: none;
}

#result-dash button {
  width: 12vw;
  height: 5vh;
  font-size: 80%;
  background-color: darkgray;
}