button {
  border-radius: 0;
}

.text-display {
  width: 100vw;
  min-height: 30vh;
  font-family: monospace;
  font-size: 120%;
}

.display-button {
  width: 12vw;
  height: 7vh;
  font-size: 80%;
  word-wrap: break-word;
}

#result-dash {
  display: none;
}

#result-dash button {
  width: 12vw;
  height: 5vh;
  font-size: 80%;
  background-color: darkgray;
}

#lp-matrix {
  width: 100%;
  border: 1px black solid;
  text-align: center;
}

#lp-matrix tr td input{
  width: 95%;
  height: 100%;
  font-family: monospace;
}

#matrix-input {
  display: none;
}
